<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link, useForm, usePage } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import FileInput from "@/Components/FileInput.vue";
import Select from "@/Components/Select.vue";
defineProps({
    categories: Array
})
const categories = usePage().props.categories;
const form = useForm({
    description: '',
    about: '',
    price: 0,
    image: null,
    stock: 0,
    category_id: '',
    status_id: false
});
const submit = () => {
    form.post(route('products.store'), {
        forceFormData: true,
    });
};
</script>

<template>
    <Head :title="$page.props.$translate.products.create"/>

    <AuthenticatedLayout :title="$page.props.$translate.products.create">

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">

                        <form @submit.prevent="submit" enctype="multipart/form-data">
                            <div>
                                <InputLabel for="description" :value="$page.props.$translate.fields.description"/>
                                <TextInput
                                    id="description"
                                    type="text"
                                    class="input mt-1 block w-full"
                                    v-model="form.description"
                                    required
                                    autofocus
                                    autocomplete="description"
                                />
                                <InputError class="mt-2" :message="form.errors.description"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="about" :value="$page.props.$translate.fields.about"/>
                                <textarea
                                    id="about"
                                    type="text"
                                    class="textarea mt-1 block w-full border-gray-300 focus:border-primary focus:outline-none"
                                    v-model="form.about"
                                    required
                                    autofocus
                                    autocomplete="about"
                                ></textarea>
                                <InputError class="mt-2" :message="form.errors.about"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="image" :value="$page.props.$translate.fields.image"/>
                                <FileInput
                                    id="image"
                                    class="input mt-1 block w-full"
                                    v-model="form.image"
                                    required
                                    autofocus
                                    autocomplete="image"
                                />
                                <InputError class="mt-2" :message="form.errors.image"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="price" :value="$page.props.$translate.fields.price"/>
                                <TextInput
                                    id="price"
                                    type="number"
                                    min="0"
                                    class="input mt-1 block w-full"
                                    v-model="form.price"
                                    required
                                    autofocus
                                    autocomplete="price"
                                />
                                <InputError class="mt-2" :message="form.errors.price"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="stock" :value="$page.props.$translate.fields.stock"/>
                                <TextInput
                                    id="stock"
                                    type="number"
                                    min="0"
                                    class="input mt-1 block w-full"
                                    v-model="form.stock"
                                    required
                                    autofocus
                                    autocomplete="stock"
                                />
                                <InputError class="mt-2" :message="form.errors.stock"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="category_id" :value="$page.props.$translate.fields.category"/>
                                <Select
                                    id="category_id"
                                    class="input mt-1 block w-full select"
                                    v-model="form.category_id"
                                    :options="categories"
                                    required
                                    autofocus
                                />
                                <InputError class="mt-2" :message="form.errors.category_id"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="status_id" :value="$page.props.$translate.fields.status"/>
                                <input type="checkbox"
                                       name="status_id" 
                                       id="status_id"
                                       v-model="form.status_id"
                                       class="toggle toggle-success"/>
                            </div>

                            <div class="flex items-center justify-end mt-4">
                                <Link
                                    :href="route('products.index')"
                                    class="btn btn-secondary mr-5"
                                >
                                    {{ $page.props.$translate.labels.back }}
                                </Link>

                                <button class="btn btn-primary" :disabled="form.processing">
                                    {{ $page.props.$translate.labels.save }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>