<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link, useForm, usePage, router } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import FileInput from "@/Components/FileInput.vue";
import Select from "@/Components/Select.vue";
defineProps({
    categories: Array,
    product: Object
})
const categories = usePage().props.categories;
const product = usePage().props.product;
const form = useForm({
    id: product.id,
    description: product.description,
    about: product.about,
    price: product.price,
    image: '',
    stock: product.stock,
    category_id: product.category_id,
    _method: 'patch'// this allows to send the request as post, and handle it as patch, so files can be sent.
});
const submit = () => {
    form.post(route('products.update', product.id),{
        forceFormData: true
    });
};
</script>

<template>
    <Head :title="$page.props.$translate.products.edit"/>

    <AuthenticatedLayout :title="$page.props.$translate.products.edit">

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">

                        <form @submit.prevent="submit" enctype="multipart/form-data">
                            <div>
                                <InputLabel for="description" :value="$page.props.$translate.fields.description"/>
                                <TextInput
                                    id="description"
                                    type="text"
                                    class="input mt-1 block w-full"
                                    v-model="form.description"
                                    required
                                    autofocus
                                    autocomplete="description"
                                />
                                <InputError class="mt-2" :message="form.errors.description"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="about" :value="$page.props.$translate.fields.about"/>
                                <textarea
                                    id="about"
                                    type="text"
                                    class="textarea mt-1 block w-full border-gray-300 focus:border-primary focus:outline-none"
                                    v-model="form.about"
                                    required
                                    autofocus
                                    autocomplete="about"
                                ></textarea>
                                <InputError class="mt-2" :message="form.errors.about"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="image" :value="$page.props.$translate.fields.image"/>
                                <img v-if="product.image" :src="`/storage/${product.image}`"
                                     style="max-width: 100px; max-height: 100px;" alt="Imagen del producto">
                                <FileInput
                                    id="image"
                                    class="input mt-1 block w-full"
                                    v-model="form.image"
                                    autofocus
                                    autocomplete="image"
                                />
                                <InputError class="mt-2" :message="form.errors.image"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="price" :value="$page.props.$translate.fields.price"/>
                                <TextInput
                                    id="price"
                                    type="number"
                                    min="0"
                                    class="input mt-1 block w-full"
                                    v-model="form.price"
                                    required
                                    autofocus
                                    autocomplete="price"
                                />
                                <InputError class="mt-2" :message="form.errors.price"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="stock" :value="$page.props.$translate.fields.stock"/>
                                <TextInput
                                    id="stock"
                                    type="number"
                                    class="input mt-1 block w-full"
                                    v-model="form.stock"
                                    disabled
                                />
                                <InputError class="mt-2" :message="form.errors.stock"/>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="category_id" :value="$page.props.$translate.fields.category"/>
                                <Select
                                    id="category_id"
                                    class="input mt-1 block w-full select"
                                    v-model="form.category_id"
                                    :options="categories"
                                    required
                                    autofocus
                                />
                                <InputError class="mt-2" :message="form.errors.category_id"/>
                            </div>

                            <div class="flex items-center justify-end mt-4">
                                <Link
                                    :href="route('products.index')"
                                    class="btn btn-secondary mr-5"
                                >
                                    {{ $page.props.$translate.labels.back }}
                                </Link>

                                <button class="btn btn-primary" :disabled="form.processing">
                                    {{ $page.props.$translate.labels.save }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
