<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link, useForm, usePage, router } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
import FileInput from "@/Components/FileInput.vue";
import Select from "@/Components/Select.vue";
defineProps({
    categories: Array,
    product: Object
})
const categories = usePage().props.categories;
const product = usePage().props.product;
const form = useForm({
    stock: 1,
    _method: 'patch'// this allows to send the request as post, and handle it as patch, so files can be sent.
});
const submit = () => {
    form.post(route('products.add', product.id),{
        forceFormData: true
    });
};
</script>

<template>
    <Head :title="$page.props.$translate.products.add_quantity_title"/>

    <AuthenticatedLayout :title="$page.props.$translate.products.add_quantity_title">

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">

                        <form @submit.prevent="submit" enctype="multipart/form-data">
                            <div>
                                <InputLabel for="description" :value="$page.props.$translate.fields.description"/>
                                <TextInput
                                    id="description"
                                    type="text"
                                    class="input mt-1 block w-full"
                                    :value="product.description"
                                    disabled
                                />
                            </div>

                            <div class="mt-3">
                                <InputLabel for="current_stock" :value="$page.props.$translate.fields.current_quantity"/>
                                <TextInput
                                    id="current_stock"
                                    type="number"
                                    class="input mt-1 block w-full"
                                    :value="product.stock"
                                    disabled
                                />
                                <small>{{ $page.props.$translate.fields.add_stock_warning }}</small>
                            </div>

                            <div class="mt-3">
                                <InputLabel for="stock" :value="$page.props.$translate.fields.add_stock"/>
                                <TextInput
                                    id="stock"
                                    type="number"
                                    class="input mt-1 block w-full"
                                    v-model="form.stock"
                                    min="1"
                                    required
                                    autofocus
                                    autocomplete="add_stock"
                                />
                                <InputError class="mt-2" :message="form.errors.stock"/>
                            </div>

                            <div class="flex items-center justify-end mt-4">
                                <Link
                                    :href="route('products.index')"
                                    class="btn btn-secondary mr-5"
                                >
                                    {{ $page.props.$translate.labels.back }}
                                </Link>

                                <button class="btn btn-primary" :disabled="form.processing">
                                    {{ $page.props.$translate.labels.save }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>