<script setup>
import {Head, usePage} from "@inertiajs/vue3";
import { ref } from "vue";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import Pagination from "@/Components/Pagination.vue";

const orders = ref([]);

const loadOrders = (url = null) => {
    axios.post(url || route('api.orders.index'),{id: usePage().props.authData.id}).then((response) => {
        orders.value = response.data.data;
        console.log(response);
    }).catch((error) => {
        console.log(error);
    });
}

/*axios
    .get(
        `${route("api.product")}/?filter=${searchTerm.value}&category=${
            category.value
        }`
    )*/


loadOrders();
</script>

<template>
    <Head title="Orders"/>

    <AuthenticatedLayout title="Orders">

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900 flex flex-col">

                        <div v-if="orders && orders.data?.length > 0" class="mt-5">
                            <table class="table table-compact w-full border-2 text-center">
                                <caption>Orders list</caption>
                                <thead class="border-b-2">
                                <tr>
                                    <th>{{ $page.props.$translate.fields.bill }}</th>
                                    <th>{{ $page.props.$translate.fields.status }}</th>
                                    <th>{{ $page.props.$translate.labels.total }}</th>
                                    <th>{{ $page.props.$translate.fields.created_at }}</th>
                                    <th>{{ $page.props.$translate.labels.actions }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="order in orders.data" class="border-b-2">
                                    <td>{{ order.bill }}</td>
                                    <td>
                                        {{ $page.props.$translate.orders.status[order.status_id] }}
                                    </td>
                                    <td>${{ order.value.toLocaleString('es-CO') }}</td>
                                    <td>{{ new Date(order.created_at).toLocaleString('es-CO') }}</td>
                                    <td>
                                        <a :href="route('orders.show', order.id)"
                                           :title="$page.props.$translate.products.title">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <Pagination class="mt-6" :links="orders.links" :click="loadOrders"/>
                        </div>
                        <div v-else class="text-center">
                            There is no orders
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
