<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, usePage,  Link, useForm} from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';
defineProps({
    category: Object
})
const category = usePage().props.category;
const form = useForm({
    description: category.description
});
const submit = () => {
    form.put(route('categories.update', category.id));
};
</script>

<template>
    <Head :title="$page.props.$translate.categories.edit"/>

    <AuthenticatedLayout :title="$page.props.$translate.categories.edit">

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">

                        <Transition enter-from-class="opacity-0" leave-to-class="opacity-0" class="transition ease-in-out">
                            <p v-if="form.recentlySuccessful" class="text-sm text-gray-600">Actualizado correctamente.</p>
                        </Transition>

                        <form @submit.prevent="submit">
                            <div>
                                <InputLabel for="description" :value="$page.props.$translate.fields.description"/>
                                <TextInput
                                    id="description"
                                    type="text"
                                    class="input mt-1 block w-full"
                                    v-model="form.description"
                                    required
                                    autofocus
                                    autocomplete="description"
                                />
                                <InputError class="mt-2" :message="form.errors.description"/>
                            </div>

                            <div class="flex items-center justify-end mt-4">
                                <Link
                                    :href="route('categories.index')"
                                    class="btn btn-secondary mr-5"
                                >
                                    {{ $page.props.$translate.labels.back }}
                                </Link>

                                <button class="btn btn-primary" :disabled="form.processing">
                                    {{ $page.props.$translate.labels.save }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>