<script setup>
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import Pagination from "@/Components/Pagination.vue";
import { Head, Link, usePage } from "@inertiajs/vue3";
import { ref } from "vue";

const status = usePage().props.status;
const searchTerm = ref('');
const categories = ref([]);
const toggleStatus = (e) => {
    axios.patch(route('api.categories.toggleStatus'), {id: e.target.dataset.category}).catch((err) => {
        console.error(err);
    });
}
const loadCategories = (url = null) => {
    axios.get(url || route('api.categories')).then((response) => {
        categories.value = response.data.data;
    }).catch((error) => {
        console.log(error);
    });
}
loadCategories();
</script>

<template>
    <Head :title="$page.props.$translate.categories.title"/>

    <AuthenticatedLayout :title="$page.props.$translate.categories.title">

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900 flex flex-col">

                        <Link
                            :href="route('categories.create')"
                            class="btn btn-primary w-20 self-end"
                        >
                            {{ $page.props.$translate.labels.create }}
                        </Link>

                        <div v-if="categories && categories.data?.length > 0" class="mt-5">
                            <table class="table table-compact w-full border-2 text-center">
                                <caption>{{ $page.props.$translate.categories.list }}</caption>
                                <thead class="border-b-2">
                                <tr>
                                    <th>{{ $page.props.$translate.fields.name }}</th>
                                    <th>{{ $page.props.$translate.fields.status }}</th>
                                    <th>{{ $page.props.$translate.labels.actions }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="category in categories.data" class="border-b-2">
                                    <td>{{ category.description }}</td>
                                    <td>
                                        <input type="checkbox"
                                               class="toggle toggle-success"
                                               :data-category="category.id"
                                               :checked="category.status_id === 1"
                                               @change="toggleStatus($event)"
                                        />
                                    </td>
                                    <td>
                                        <a class="btn btn-outline btn-primary"
                                           :href="route('categories.show', category.id)"
                                           title="Editar"
                                        >
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <Pagination class="mt-6" :links="categories.links" :searchTerm="searchTerm"
                                        :click="loadCategories"/>
                        </div>
                        <div v-else class="text-center">
                            There is no categories
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>