<script setup>
import { computed, ref } from "vue";
import { Head, Link, usePage } from "@inertiajs/vue3";
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import UserMenu from "@/Components/UserMenu.vue";
import CartIcon from "@/Components/CartIcon.vue";
import { useCartStore } from "@/Stores/CartStore";

defineProps({
    canLogin: Boolean,
    canRegister: Boolean
});

const store = useCartStore();
const products = ref([]);
const showAlert = ref(false);
const showStockError = ref(false);
const userId = usePage().props.authData.id;

const loadProducts = async () => {
    await axios.post(route('api.getCartProducts'), {ids: Object.keys(store.products)})
        .then((response) => {
            products.value = response.data.data;
        });
}

loadProducts();

const productRemove = ref(null);

const showModal = (productId) => {
    removeProductModal.showModal();
    productRemove.value = productId;
}

const removeProduct = () => {
    store.deleteProduct(productRemove.value);
    loadProducts();
    removeProductModal.close();
}
const increase = async (productId) => {
    const add = 1;
    if (await checkStock(productId, add)) {
        store.add(productId, add);
        showAlert.value = true;
    }
}
const decrease = (productId) => {
    if (store.products[productId] > 1) {
        store.add(productId, -1);
    }
}

const checkStock = async (productId, amount) => {
    let total = amount;
    if (store.products.hasOwnProperty(productId)) {
        total += store.products[productId];
    }
    const r = await axios.post(route('api.products.checkStock'), {
        'id': productId,
        amount: total
    });
    return r.data.data.stock;
}

let total = computed(() => {
    let value = 0;
    for (const index in products.value) {
        const product = products.value[index];
        if (product) {
            value += product.price * store.products[product.id];
        }
    }
    return value;
});

const createOrder = () => {
    const ids = Object.keys(store.products);
    let productsCart = {};
    for (const id of ids) {
        productsCart[id] = {id: id, amount: store.products[id]};
    }
    axios.post(route('api.orders.store'), {products: productsCart, userId: userId})
        .then(async (e) => {
            if (e.data.data.clear_cart) {
                store.clear();
            }

            if (e.data.data.set_max_amounts) {
                showStockError.value = true;
                setTimeout(() => showStockError.value = false, 2000);
                for (const product of products.value) {
                    store.set(product.id, product.quantity);
                }
            } else if (e.data.data.route) {
                window.location.href = e.data.data.route;
            }

            if (e.data.data.route) {
                window.location.href = e.data.data.route;
            }
        })
        .catch((e) => console.log(e));
}

</script>

<template>
    <Head title="Welcome"/>

    <div>
        <div class="flex p-4 border-b-2 justify-between items-center">
                <div class="flex">
                    <Link :href="route('home')">
                        <ApplicationLogo class="block h-9 w-auto fill-current text-gray-800"/>
                    </Link>
                    <h1 class="ml-4">Place to Pay</h1>
                </div>

                <div class="flex justify-between items-center">
                    <CartIcon/>
                    <UserMenu/>
                </div>
        </div>
    </div>

    <div class="prose w-full mx-auto mb-6">
        <h2 class="w-full text-center p-5"  style="font-weight: bold; font-size: 1.5em;">Cart</h2>
    </div>

    <div class="grid grid-cols-2 px-4">
        <div v-for="product in products" class="card card-side bg-base-100 shadow-xl flex" style="min-width: 50%;margin:1em auto;">
            <figure style="object-fit: contain;">
                <img :src="`/storage/${product.image}`" class=" mx-auto" :alt="product.description"
                     style="width: 200px;"/>
            </figure>
            <div class="card-body">
                <h2 class="card-title">{{ product.description }}</h2>
                <h3>Unit price: ${{ product.price.toLocaleString('es-CO') }}</h3>
                <div class="flex items-center justify-between">
                    <button class="btn" @click="decrease(product.id)"><i class="fa fa-minus"></i></button>
                    <input type="text" :value="store.products[product.id]" min="1" class="w-20 input input-bordered">
                    <button class="btn" @click="increase(product.id)"><i class="fa fa fa-plus"></i></button>
                </div>
                <h3>Subtotal: ${{ (product.price * store.products[product.id]).toLocaleString('es-CO') }}</h3>
                <div class="card-actions justify-end">
                    <button class="btn btn-outline btn-error" @click="showModal(product.id)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>

    <div class="containerTotalOrder">
        <div class="prose mx-auto mt-16">
            <h2 class="text-center">{{ $page.props.$translate.labels.total }}: ${{ total.toLocaleString('es-CO') }}</h2>
        </div>

        <div class="pt-4">
            <div class="alert alert-warning w-full sm:w-full md:w-2/4 xl:w-1/4 mx-auto" v-if="!$page.props.auth.user">
                Please login before buying:
                <a :href="route('login')" class="underline text-primary">
                    Login
                </a>
            </div>
            <button v-else type="submit" class="btn btn-primary block mx-auto" @click="createOrder">
                Purchase
            </button>
        </div>
    </div>

    <div v-if="showStockError" class="alert alert-info w-full md:w-2/4 xl:w-1/4 mx-auto">
        The amount you want to assing exceeds our stock, we have assigned the maximum stock we have to your cart
    </div>

    <dialog id="removeProductModal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <form method="dialog">
                <button for="removeProductModal" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕
                </button>
            </form>
            <h3 class="font-bold text-lg">Hello!</h3>
            <p class="py-4">Do you want to take out this product?</p>
            <div class="modal-action">
                <button class="btn btn-outline btn-primary" @click="removeProduct">Yes</button>
                <form method="dialog">
                    <button class="btn">No</button>
                </form>
            </div>

        </div>

    </dialog>


</template>
