<script setup>
import { Head, usePage, Link } from "@inertiajs/vue3";
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import { ref } from "vue";
import { useCartStore } from "@/Stores/CartStore";
import CartIcon from "@/Components/CartIcon.vue";
import UserMenu from "@/Components/UserMenu.vue";

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    product: Object,
    category: Object
});

const product = usePage().props.product;
const amount = ref(1);
const showAlert = ref(false);
const showStockError = ref(false);
const store = useCartStore();

const addToCart = () => {
    if (amount.value < 1) {
        return;
    }
    let total = amount.value
    if (store.products.hasOwnProperty(product.id)) {
        total += store.products[product.id];
    }

    axios.post(route('api.products.checkStock'), {
        'id': product.id,
        amount: total
    }).then((r) => {
        const response = r.data;
        if (response.data.stock) {
            store.add(product.id, amount.value);
            showAlert.value = true;
            setTimeout(() => showAlert.value = false, 2000);
        } else {
            showStockError.value = true;
            setTimeout(() => showStockError.value = false, 2000);
        }
    }).catch((e) => console.log(e));
}
</script>

<style scoped>
.bg-card-product{
    border: 1px solid;
    padding: 2em 2em 1em 0;;
    max-width: 95vw;
    margin: auto;
    border-radius: 0 1em 1em 0;
    box-shadow: 0em 0.5em 1em 0.5em rgba(0, 0, 0, .2);
    min-height: 75vh;
    max-height: 75vh;
}

.container-info-product{
    display: flex;
    flex-direction: column;
    min-height: 65vh;
    justify-content: space-evenly;
}

</style>

<template>
    <Head title="Welcome"/>

    <div>
        <div class="flex p-4 border-b-2 justify-between items-center">
            <div class="flex">
                <Link :href="route('home')">
                    <ApplicationLogo class="block h-9 w-auto fill-current text-gray-800"/>
                </Link>
                <h1 class="ml-4">Place to Pay</h1>
            </div>

            <div class="flex justify-between items-center">
                <CartIcon/>
                <UserMenu/>
            </div>
        </div>
    </div>

    <div class="prose w-full mx-auto mb-6">
        <h2 class="w-full text-center p-5" style="font-weight: bold; font-size: 1.5em;">{{ product.description }}</h2>
    </div>

    <div class="px-4 sm:columns-1 md:columns-2 bg-card-product">

        <div class="mb-3 container-info-product" >
            <figure style="object-fit: contain;">
                <img v-if="product.image" :src="`/storage/${product.image}`" class="max-w-full mx-auto" :alt="product.description"
                     style="max-height: 65vh; border-radius: 0 1em 1em 0;"/>
                <img v-else :src="`https://placehold.co/400?text=${product.description}`" class="max-w-full mx-auto" :alt="product.description"
                     style="max-height: 65vh; border-radius: 0 1em 1em 0;"/>
            </figure>
        </div>
        <div class="container-info-product">
            <div class="prose">
                <span class="badge badge-outline block h-fit">{{ category.description }}</span><br>
                <p>{{ product.about }}</p><br>
                <h3>${{ product.price.toLocaleString('es-CO') }}</h3>
            </div>

            <div class="pt-8">
                <span>{{ $page.props.$translate.labels.add_cart }}</span>
                <div class="flex">

                    <input type="number" class="input input-bordered w-20" min="1" v-model="amount">
                    <button class="btn btn-outline ml-1" @click="addToCart">
                        <i class="fa fa-cart-shopping"></i>&nbsp;
                    </button>
                </div>
                <div v-if="showStockError" class="alert alert-warning w-2/4 mt-2">
                    Insuficient stock
                </div>
            </div>
        </div>
        <small>Stock: {{ product.stock }}</small>
    </div>

    <div class="toast toast-middle toast-end " v-if="showAlert">
        <div class="alert alert-success">
            <span class="badge" id="amount">{{ amount }}</span><span>{{ $page.props.$translate.labels.added_cart }}</span>
        </div>
    </div>

</template>
