<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, usePage,  Link, useForm} from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import TextInput from '@/Components/TextInput.vue';

defineProps({
    customer: Object
})

const customer = usePage().props.customer;

const form = useForm({
    name: customer.name,
    lastname: customer.lastname,
    phone: customer.phone
});

const submit = () => {
    form.put(route('customers.update', customer.id));
};
</script>

<template>
    <Head :title="$page.props.$translate.customers.edit"/>

    <AuthenticatedLayout :title="$page.props.$translate.customers.edit">

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">

                        <Transition enter-from-class="opacity-0" leave-to-class="opacity-0" class="transition ease-in-out">
                            <p v-if="form.recentlySuccessful" class="text-sm text-gray-600">Actualizado correctamente.</p>
                        </Transition>

                        <h1 style="text-align: center; font-weight: 400; font-size: 1.5em;">{{$page.props.$translate.customers.edit}}</h1>
                        <form @submit.prevent="submit">
                            <div>
                                <InputLabel for="name" :value="$page.props.$translate.fields.description"/>
                                <TextInput
                                    id="name"
                                    type="text"
                                    class="input mt-1 block w-full"
                                    v-model="form.name"
                                    required
                                    autofocus
                                    autocomplete="name"
                                />
                                <InputError class="mt-2" :message="form.errors.name"/>
                            </div>

                            <div class="mt-4">
                                <InputLabel for="lastname" :value="$page.props.$translate.fields.lastname"/>
                                <TextInput
                                    id="lastname"
                                    type="text"
                                    class="input mt-1 block w-full"
                                    v-model="form.lastname"
                                    required
                                    autofocus
                                    autocomplete="lastname"
                                />
                                <InputError class="mt-2" :message="form.errors.lastname"/>
                            </div>

                            <div class="mt-4">
                                <InputLabel for="phone" :value="$page.props.$translate.fields.phone"/>
                                <TextInput
                                    id="phone"
                                    type="text"
                                    class="input mt-1 block w-full"
                                    v-model="form.phone"
                                    required
                                    autofocus
                                    autocomplete="phone"
                                />
                                <InputError class="mt-2" :message="form.errors.phone"/>
                            </div>

                            <div class="mt-4">
                                <InputLabel for="email" :value="$page.props.$translate.fields.email"/>
                                <TextInput
                                    id="email"
                                    type="email"
                                    class="input mt-1 block w-full "
                                    :value="customer.email"
                                    required
                                    autocomplete="email"
                                    readonly
                                />
                            </div>

                            <div class="flex items-center justify-end mt-4">
                                <Link
                                    :href="route('customers')"
                                    class="btn btn-secondary mr-5"
                                >
                                    {{ $page.props.$translate.labels.back }}
                                </Link>

                                <button class="btn btn-primary" :disabled="form.processing">
                                    {{ $page.props.$translate.labels.save }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>