<script setup>
import { useCartStore } from "@/Stores/CartStore";
defineProps({
    product: Object
});

const store = useCartStore();

const addToCart = (product) => {
    store.add(product.id, 1);
}
</script>

<template>

        <div class="card w-96 bg-base-100 shadow-xl">
            <a :href="route('product-detail', product.slug)">
                <figure style="object-fit: contain; max-height: 300px; min-height: 300px;">
                    <img v-if="product.image" :src="`/storage/${product.image}`" :alt="product.description.slice(0,30)" />
                    <img v-else :src="`https://placehold.co/400?text=${product.description}`" :alt="product.description"/>
                </figure>
            </a>
            <div class="card-body" style="max-height: 250px; min-height: 250px;">
                <h2 class="card-title">{{ product.description.slice(0,30) }}
                    <div class="badge badge-secondary">NEW</div>
                </h2>
                <p>{{product.about.slice(0,100)}}...</p>
                <p>${{ product.price.toLocaleString('es-CO') }}</p>
                <div class="card-actions justify-between" style="align-items: center">
                    <button class="btn btn-success" @click="addToCart(product)"><i class="fa fa fa-plus"></i></button>
                    <div class="badge badge-outline">{{ product.category }}</div>
                </div>
            </div>
        </div>
</template>

