<script setup>

import Chart from "chart.js/auto";
import {computed, onMounted, ref} from "vue";

const props = defineProps({
    data: Array,
    label: String,
    name: String
});

const graphic =  ref(null);
let recalcular = 1;

onMounted(() => {
    recalcular = computed(() => {
        const ctx = document.getElementById('chart'+props.name);

        const data = {
            labels: props.data.map(row => row.label),
            datasets: [{
                label: props.label,
                data: props.data.map(row => row.cantidad),
                hoverOffset: 4,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(255, 159, 64, 0.6)',
                    'rgba(255, 205, 86, 0.6)',
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                    'rgba(201, 203, 207, 0.6)',
                    'rgba(100, 203, 100, 0.6)',
                    'rgba(200, 200, 50, 0.6)',
                    'rgba(100, 150, 50, 0.6)'
                ]

            }]
        };

        if (graphic.value !== null) {
            graphic.value.destroy();
        }

        graphic.value = new Chart(ctx, {
            type: 'bar',
            data: data,
            plugins: [{
                id: "bgColor",
                beforeDraw: (chart, options) => {
                    const {ctx, width, height} = chart;
                    ctx.fillStyle = "white";
                    ctx.fillRect(0, 0, width, height);
                    ctx.restore();
                }
            }]
        });
        return true;
    });
})

</script>

<template>
    <div class="reportItem">
        <span style="visibility: hidden">{{ recalcular }}</span>
        <canvas :id="'chart'+name"></canvas>
    </div>
</template>

