<script setup>
import { useCartStore } from "@/Stores/CartStore";
const store = useCartStore();
</script>
<template>
    <a :href="route('cart')" class="w-16 flex justify-center items-center">
        <span class="px-1 ms-1">{{ Object.keys(store.products).length }}</span>
        <i class="fa fa-cart-shopping"></i>&nbsp;
        <span class="badge px-1 ms-1">{{ store.amount }}</span>
    </a>
</template>