<script setup>
import {Head, Link, usePage} from "@inertiajs/vue3";
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import UserMenu from "@/Components/UserMenu.vue";
import CartIcon from "@/Components/CartIcon.vue";

defineProps({
    order: Object,
    products: Object,
    status: Object,
    newPayment: Boolean,
    currentPaymentUrl: String | Boolean
});

const token = document.getElementById('_token').value;

</script>

<template>
    <Head title="Welcome"/>

    <div>
        <div class="flex p-4 border-b-2 justify-between items-center">
                <div class="flex">
                    <Link :href="route('home')">
                        <ApplicationLogo class="block h-9 w-auto fill-current text-gray-800"/>
                    </Link>
                    <h1 class="ml-4">Place to Pay</h1>
                </div>

                <div class="flex justify-between items-center">
                    <CartIcon/>
                    <UserMenu/>
                </div>
        </div>
    </div>

    <div class="prose w-full mx-auto mb-6">
        <h2 class="w-full text-center p-5 uppercase">Order # {{ order.bill }}</h2>
    </div>

    <div class="grid grid-cols-2 px-4">

        <div v-for="product in order.products" class="card card-side bg-base-100 shadow-xl flex" style="min-width: 50%;margin:1em auto;">
            <figure style="object-fit: contain;">
                <img :src="`/storage/${product.image}`" class=" mx-auto" :alt="product.description"
                     style="width: 200px;"/>
            </figure>
            <div class="card-body">
                <h2 class="card-title"><a :href="route('product-detail', product.slug)">{{ product.description }}</a></h2>
                <h3>Unit price: ${{ product.pivot.price.toLocaleString('es-CO') }}</h3>
                <h3>Quantity: {{ product.pivot.quantity }}</h3>
                <h3>Subtotal:
                    ${{ (product.pivot.total_price).toLocaleString('es-CO') }}
                </h3>
            </div>
        </div>

    </div>

    <div class="prose mx-auto mt-16">
        <h2 class="text-center">{{ $page.props.$translate.labels.total }}: ${{ order.value.toLocaleString('es-CO') }}</h2>
    </div>

    <div class="pt-4">
        <div class="alert alert-warning w-full sm:w-full md:w-2/4 xl:w-1/4 mx-auto" v-if="!$page.props.auth.user">
            Please login before buying : <a :href="route('login')" class="underline text-primary">
            Login
        </a>
        </div>
        <form :action="route('payment.create')" method="post" v-else-if="newPayment">
            <input type="hidden" name="_token" :value="token">
            <input type="hidden" name="order_id" :value="order.id">
            <input type="hidden" name="payment_type" value="place_to_pay">
            <button type="submit"
                    class="btn btn-primary block mx-auto">
                Go to pay
            </button>
        </form>
        <div v-else-if="currentPaymentUrl !== false" class="flex">
            <a :href="currentPaymentUrl" class="btn btn-primary  mx-auto">Go to pay</a>
        </div>

    </div>

</template>
