<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head, Link } from '@inertiajs/vue3';
import PieChart from "@/Components/PieChart.vue";
import BarChart from "@/Components/BarChart.vue";
import {ref} from "vue";
import { jsPDF } from "jspdf";

const reports = ref({
    'more_sale_products' : [],
    'more_sale_categories' : [],
    'more_added_products' : [],
    'best_customers' : [],
    'payments_status' : [],
    'orders_status' : []
});

const start_date = ref('');
const end_date = ref('');

const searchReports = () => {
    axios.post(route('api.getReports'), {
        'start_date': start_date.value,
        'end_date': end_date.value
    }).then((response) => {
        reports.value = response.data.data;
        //console.log(reports.value.more_added_products);
    }).catch((error) => {
        console.log(error);
    });
}

const pdf = () => {
    const doc = new jsPDF();
    doc.setFontSize(20);

    doc.text("Productos más vendidos", 10, 10,);
    let canvas1 = document.querySelector('#chartproVen');
    let img1 = canvas1.toDataURL("image/jpeg", 1.0);
    doc.addImage(img1, 'JPEG', 10, 20, 180, 100);

    doc.text("Categorías más vendidas", 10, 140,);
    let canvas2 = document.querySelector('#chartcatVen');
    let img2 = canvas2.toDataURL("image/jpeg", 1.0);
    doc.addImage(img2, 'JPEG', 10, 150, 180, 100);

    doc.addPage();

    doc.text("Productos más deseados", 10, 10,);
    let canvas3 = document.querySelector('#chartproPed');
    let img3 = canvas3.toDataURL("image/jpeg", 1.0);
    doc.addImage(img3, 'JPEG', 10, 20, 180, 100);

    doc.text("10 mejores clientes", 10, 140,);
    let canvas4 = document.querySelector('#chartmejCli');
    let img4 = canvas4.toDataURL("image/jpeg", 1.0);
    doc.addImage(img4, 'JPEG', 10, 150, 180, 100);

    doc.addPage();

    doc.text("Pedidos por estado", 10, 10,);
    let canvas5 = document.querySelector('#chartPedEst');
    let img5 = canvas5.toDataURL("image/jpeg", 1.0);
    doc.addImage(img5, 'JPEG', 10, 20, 100, 100);

    doc.text("Pagos por estado", 10, 140,);
    let canvas6 = document.querySelector('#chartpagEst');
    let img6 = canvas6.toDataURL("image/jpeg", 1.0);
    doc.addImage(img6, 'JPEG', 10, 150, 100, 100);

    doc.save(`reportes ${start_date.value} a ${end_date.value}.pdf`);
}


</script>

<style>
    #reportsContainer{
        display: grid;
        column-gap: 1em;
        row-gap: 2em;
        grid-template-columns: auto auto;
        margin-top: 2em;
    }
    .reportItem{
        max-width: 90%;
        margin: 0.5em;
    }
</style>

<template>
    <Head title="Dashboard" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 text-gray-900">
                        <strong>Reportes gerenciales</strong><br>

                        <form @submit.prevent="searchReports" method="post" class="flex mb-3">
                            <div class="form-control w-full max-w-xs">
                                <label class="label">
                                    <span class="label-text">Fecha inicial</span>
                                </label>
                                <input v-model="start_date" type="date" name="start_date" id="start_date"
                                       class="input input-bordered w-full max-w-xs"/>
                            </div>
                            <div class="form-control w-full max-w-xs ml-2">
                                <label class="label">
                                    <span class="label-text">Fecha final</span>
                                </label>
                                <input v-model="end_date" type="date" name="end_date" id="end_date"
                                       class="input input-bordered w-full max-w-xs"/>
                            </div>

                            <button class="btn btn-primary self-end ml-2" type="submit">GENERAR</button>
                            <button class="btn  self-end ml-2" @click="pdf" type="button">
                                <i class="fa fa-download"></i>
                            </button>

                        </form>

                        <hr>
                        <div id="reportsContainer">
                            <BarChart :data="reports.more_sale_products" label="Productos m&aacute;s vendidos" name="proVen"></BarChart>
                            <BarChart :data="reports.more_added_products" label="Productos m&aacute;s deseados" name="proPed"></BarChart>
                            <BarChart :data="reports.more_sale_categories" label="Categor&iacute;as m&aacute;s vendidas" name="catVen"></BarChart>
                            <BarChart :data="reports.best_customers" label="Mejores clientes" name="mejCli"></BarChart>
                            <PieChart :data="reports.payments_status" label="Estados de los pedidos" name="PedEst"></PieChart>
                            <PieChart :data="reports.orders_status" label="Estados de los pagos" name="pagEst"></PieChart>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
